.flexContainer {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
}

.flexChild {
  flex: 1;
}

.menu {
  border-radius: 5px;
  background-color: white;
  flex: 1 1 0;
}

.main {
  border-radius: 5px;
  background-color: #dcd1d1;
  flex: 3 1 0;
}
