.flexContainer {
  display: flex;
  margin-top: 2rem;
}

.flexChild {
  flex: 1;
}

.menu {
  background-color: white;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: rgb(220, 209, 209);
  flex: 3 1 0;
}
