#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #b1b2b3;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

.navbarBtn {
  flex: 1;
}
